body{
  background-color: #FFFFFF;
}
nav{
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #F5F5F5;
}

nav img{
  height: 30px;
  width: auto;
}

.navbar-nav {
  margin-left: 30%;
}

nav h6{
  margin-left: 1%;
}

main{
  /* border: 1px solid; */
}

#profile{
  /* border: 1px solid; */
  border-radius: 20rem;
  height: 27rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
}

.background {
  background-color: #FFFFFF;
}

#card-skil p{
  margin-top: 10rem;
  background-color: bisque;
}

#card img{
  width: 100%;
  height: 100px;
  object-fit: contain;
}
#card div{
  margin-left: 2rem;
  border: 3px solid rgb(38, 38, 49);
  border-style: double;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

#git img{
  height: auto;
  width: 100%;
  background-color: aqua;
}